@using EntityLayer.Concrete;
@model Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>AddCategory</h1>

@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
    @Html.Label("ad")
    @Html.TextBoxFor(x=>x.Name,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Name)
    <br />
    @Html.Label("aciklama")
    @Html.TextAreaFor(x=>x.Description,10,2,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Description)
    <br />
    <button class="btn btn-info">kaydet</button>
}